apiVersion: 1

datasources:
 - name: Prometheus
   type: prometheus
   access: proxy
   orgId: 1
   {% for vm in groups['internal_services'] -%}
   url: http://{{ vm }}/prometheus
   {% endfor -%}
   user:
   password:
   database:
   isDefault: true
   editable: true

 - name: InfluxDB-latency
   type: influxdb
   access: proxy
   {% for vm in groups['internal_services'] -%}
   url: http://{{ vm }}:8086
   {% endfor -%}
   user:
   password:
   database: latency
   editable: true

 - name: InfluxDB-telegraf
   type: influxdb
   access: proxy
   {% for vm in groups['internal_services'] -%}
   url: http://{{ vm }}:8086
   {% endfor -%}
   user:
   password:
   database: telegraf
   editable: true

